/* START GENERIC STYLINGS */

.unstyled-ul {
    font-size:1.25em;
    list-style:none;
    padding:0;
    margin:0;
    padding-top:5px;
}

.white-text {
  color:white;
}

.bottom-line {
    border-bottom: 1px solid white;
}
/* END GENERIC STYLINGS */
/* START EXPERIENCE/PROJECTS MODULE */


.project-title:hover, .project-title:focus {
	font-size:1.1em;
}

.project-text {
	width:100%;
}

h3.modal-title{
	font-size: 25px;
    text-align:center;
}

.project-title {
    text-align: center;
}

.experience-left {
	border-radius:10%;
	font-size:15px;
	float: left;
	width: 30%;
	background-color:black;
	padding-left: 7px;
	padding-bottom:5px;
	padding: -1em 0;
	border: 2px dashed white;
	color:white;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}

.experience-right {
	border-radius:5%;
	border-style:double;
	background-color:black;
	float: right;
	font-size:13px;
	color: white;
	width: 70%;
	border: 2px double white;
	border-width:5px;
	padding: 1.5em;
	padding-top:.5em;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}

.experience-left h4 {
    font-size:177%;
}
.experience-right > h2 {
    font-size:25px;
}
.experience-right p {
    color: #fffff;
    font-size:1.2em;
}

.experience-right .unstyled-ul {
	font-size:1.25em;
    list-style:none;
    padding:0;
    margin:0;
    padding-top:5px;
}

.experience-left img {
	float: right;
	display: block;
	width:92px;
}

.experience-left .media-body {
    font-size:20px;
    text-align:left;
}
/* END EXPERIENCE/PROJECTS MODULE */
/* START EDUCATION MODULE */

#slug-edu {
    width:0;
}

#uc-module {
	padding-top:10px;
}

/* END EDUCATION MODULE */
/* START ABOUT MODULE */

#about > .modal-container{
	width:380px;
	margin-top:50px;
	font-size:.8em;
	border-radius:5%;
    background-color: rgb(0,0,5);
    border-style: double;
    border-width:5px;
}

#about .modal-body {
	color: white;
    text-align:center;
}

.circle-pic {
    position:relative;
    float:left;
    padding-right:5px;
    margin-right:0;
    overflow:hidden;
    border-radius: 50%;
    width: 150px;
    padding-bottom:5px;
}

.circle-pic img {
    position:absolute;
    height: auto;
    width:150px;    
    max-width:100%;
    transform:translateY(-50%);
}

#about-description {
	font-size:16px;
	text-align:left;
	text-indent:10px;
}

#bell-pepper {
	width:20px;
}
/* END ABOUT MODULE */
/* START FOOTER */
.footer {
    position: absolute;
    background-color: black;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
/* END FOOTER */